{% extends 'tmpl.html' %}
{% block content %}
<body>
<section class="header">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu/">Menu</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="middle">
            <h1 class="text-white fw-bold">Tasty Bites Kebab</h1>
        </div>

    </div>
</section>
</body>

<!--<p>NAGLOWEK | LOGOWANIE |-->
<!--    {% if user.is_authenticated %}-->
<!--    Hi {{ user.username }}!-->
<!--    <a href="{% url 'logout' %}">Logout</a>-->
<!--    <a href="cart/">Shopping cart</a>-->
<!--    {% else %}-->
<!--    You are not logged in-->
<!--    <a href="{% url 'login' %}">Login</a>-->
<!--    {% endif %}-->
<!--</p>-->
<!--<p>MAIN CONTENT | <a href="menu/">MENU</a></p>-->
<!--<p>ABOUT</p>-->
<!--<p>CONTACT INFO</p>-->
{% endblock %}